{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	{{ competence.nom }}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('competence') }}
{% endblock %}
{% block body %}
	<div class="content-wrapper">
		<h2 class="text-center titre_comp tb">
			<strong>{{ competence.nom }}</strong>
		</h2>
		<p class="description_comp">{{ competence.description }}</p>
		<ul>
			{% for skill in competence.skills %}
				<li class="skills-competence tb">{{ skill }}</li>
			{% endfor %}
		</ul>
		<h5 class="rela-comp tb">
			<strong>Les projets relatifs à cette compétence</strong>
		</h5>
		<p class="texte_nbrprj">Cette compétence a été mise en œuvre dans
			{{ totalProjectCount }}
			Projets / Stages :
		</p>

		<div class="row">
			{% for competenceProjet in projets %}
				<div class="col-md-4 mb-4">
					<a href="{{ path('projet_show', { id: competenceProjet.Nprojets.id }) }}" class="card h-100 shadow-sm text-decoration-none">
						<div class="card-body text-center">
							<h5 class="card-title tb">{{ competenceProjet.Nprojets.nom }}</h5>
							<p class="text-muted">Projet</p>
						</div>
					</a>
				</div>
			{% endfor %}

			{% for competenceStage in stages %}
				<div class="col-md-4 mb-4">
					<a href="{{ path('stage_show', { id: competenceStage.Nstages.id }) }}" class="card h-100 shadow-sm text-decoration-none">
						<div class="card-body text-center">
							<h5 class="card-title tb">{{ competenceStage.Nstages.nom }}</h5>
							<p class="text-muted">Stage</p>
						</div>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
