{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}Contact
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('contact') }}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<h1 class="text-center mt-4 pt-4 display-1 fw-bold lilita fs-1 nc">Contact</h1>

		<!-- Affichage des messages flashs -->
		{% for message in app.flashes('success') %}
			<div class="alert alert-success text-center mt-4">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger text-center mt-4">
				{{ message }}
			</div>
		{% endfor %}

		<!-- Formulaire -->
		<form method="post" action="{{ path('app_contact') }}" class="mt-5 flex-column align-items-center">
			<div class="mb-3">
				<label for="email" class="form-label">
					<strong>Votre email :*</strong>
				</label>
				<input type="email" class="form-control {% if app.flashes('error') %}is-invalid{% endif %}" id="email" name="email" placeholder="Entrez votre email" required>
			</div>

			<div class="mb-3">
				<label for="message" class="form-label">
					<strong>Un cours message pour me contacter:*</strong>
				</label>
				<textarea class="form-control" id="message" name="message" rows="5" placeholder="Entrez votre message" required></textarea>
			</div>

			<div class="text-center">
				<button type="submit" class="btn btn-color">Envoyer</button>
			</div>
		</form>
	</div>
{% endblock %}
