<!doctype html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Portfolio -
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">
			<link href="https://bootswatch.com/5/litera/bootstrap.rtl.min.css" rel="stylesheet">
			<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrapicons.css">
		{% endblock %}
		<style>
			.lilita {
				font-family: 'Lilita One', cursive;
				font-weight: 700;
			}
			.nc {
				color: #000000;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
			<div class="container-fluid ps-5 pe-5 pt-2 pb-2">
				<a class="navbar-brand" href="{{ path('app_accueil') }}">
					<img src="{{ asset('img/tc-logo.png') }}" alt="Logo" style="height: 110px">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bstarget="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" arialabel="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto d-flex justify-content-evenly gap-5 fs-6 text-dark">
						<li class="nav-item">
							<a class="nav-link active" href="{{path('app_accueil')}}">Accueil</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_presentation')}}">Présentation</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_competence')}}">Compétences</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_projet')}}">Projets</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_stage')}}">Stages</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_certification')}}">Certifications</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_veille')}}">Veille</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nc" href="{{path('app_contact')}}">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		{% block body %}Portfolio
		{% endblock %}

		<footer class="bg-dark text-white text-center py-4 mt-5">
			<p>
				<a href="{{path('app_a_propos')}}" class="text-white text-decoration-none">À propos |</a>
				<a href="{{path('app_mentions_legales')}}" class="text-white text-decoration-none">Mentions légales |</a>
				<a href="{{path('app_politique_confidentialite')}}" class="text-white text-decoration-none">Politique de confidentialité</a>
			</p>

			<div class="social-links my-3">
				<a href="mailto:timothee.caron@ecoles-epsi.net" class="text-decoration-none me-3">
					<img src="{{ asset('img/email.png') }}" alt="email" style="width: 30px;">
				</a>
				<a href="https://www.linkedin.com/in/timothee-caron-epsi" target="_blank" class="text-decoration-none me-3">
					<img src="{{ asset('img/linkedin.png') }}" alt="linkedin" style="width: 30px;">
				</a>
				<a href="https://github.com/timotheecaronepsi" target="_blank" class="text-decoration-none me-3">
					<img src="{{ asset('img/github.png') }}" alt="github" style="width: 30px;">
				</a>
			</div>

			<p>&copy; 2024-2025 Copyright : CARON Timothée | PortFolio - Tous droits réservés</p>
		</footer>

		{% block javascripts %}
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
