{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	{{ stage.nom }}
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	{{ encore_entry_link_tags('stage') }}
{% endblock %}
{% block body %}
	<div class="container mt-5">
		<h2 class="text-center titre_stage tb">
			<strong>{{ stage.nom }}</strong>
		</h2>
		<div class="row align-items-center mt-4">
			<div class="col-md-8 pe-4 description_stage">
				<p class="text-desc">{{ stage.description }}</p>
			</div>

			<div class="col-md-4 text-center">
				<img src="{{ asset('img/stage/' ~ (stage.image)) }}" alt="{{ stage.nom }}" class="project-image img-fluid rounded">
			</div>
		</div>

		<div class="mt-4 periode-text">
			<p>
				<strong class="tb">Période du stage :</strong>
				{{ stage.periode }}
			</p>
		</div>

		<!-- Boutons pour consulter et télécharger l'attestation sur la même ligne -->
		<div
			class="row mt-5">
			<!-- Colonne pour le premier bouton -->
			<div class="col-4 d-flex justify-content-center align-items-center mb-3">
				<a href="{{ path('app_attestation_consulter', { id: stage.id }) }}" target="_blank" class="btn custom-btn w-100">Consulter mon attestation de stage</a>
			</div>
			<!-- Colonne pour le texte entre les boutons, aligné en haut -->
			<div class="col-4 d-flex justify-content-center align-items-start mb-3 text-eo">
				<p class="m-0">et / ou</p>
				<!-- Utilisation de m-0 pour enlever les marges par défaut autour du texte -->
			</div>

			<!-- Colonne pour le deuxième bouton -->
			<div class="col-4 d-flex justify-content-center align-items-center mb-3">
				<a href="{{ path('app_attestation_telecharger', { id: stage.id }) }}" class="btn custom-btn w-100">Télécharger mon attestation de stage</a>
			</div>
		</div>


		<div
			class="row mt-4 align-items-center">
			<!-- Image du rapport -->
			<div class="col-md-5 text-center">
				<img src="{{ asset('img/stage/' ~ stage.imgRapport) }}" alt="Image Rapport" class="project-image img-fluid rounded">


				<div
					class="d-flex flex-column align-items-center mt-5">
					<!-- Premier bouton -->
					<div class="col-12 d-flex justify-content-center align-items-center mb-3">
						<a href="{{ path('app_rapport_consulter', { id: stage.id }) }}" target="_blank" class="btn custom-btn mtbtn">
							Consulter mon Rapport
						</a>
					</div>

					<!-- Texte "et/ou" -->
					<div class="col-12 d-flex justify-content-center align-items-center mb-3 text-eo">
						<p class="et_ou">et / ou</p>
					</div>

					<!-- Deuxième bouton -->
					<div class="col-12 d-flex justify-content-center align-items-center btn-marginbot">
						<a href="{{ path('app_rapport_telecharger', { id: stage.id }) }}" class="btn custom-btn">
							Télécharger mon Rapport
						</a>
					</div>
				</div>

			</div>

			<!-- Barre de séparation -->
			<div class="col-md-2 d-flex flex-column align-items-center">
				<div class="custom-border col-ver"></div>
			</div>

			<!-- Image du PowerPoint -->
			<div class="col-md-5 text-center">
				<img src="{{ asset('img/stage/' ~ stage.imgPowerpoint) }}" alt="Image PowerPoint" class="project-image img-fluid rounded">


				<div
					class="d-flex flex-column align-items-center mt-5">
					<!-- Premier bouton -->
					<div class="col-12 d-flex justify-content-center align-items-center mb-3">
						<a href="{{ path('app_powerpoint_consulter', { id: stage.id }) }}" target="_blank" class="btn custom-btn mtbtn" >
							Consulter mon PowerPoint
						</a>
					</div>

					<!-- Texte "et/ou" -->
					<div class="col-12 d-flex justify-content-center align-items-center mb-3 text-eo">
						<p class="et_ou">et / ou</p>
					</div>

					<!-- Deuxième bouton -->
					<div class="col-12 d-flex justify-content-center align-items-center btn-marginbot">
						<a href="{{ path('app_powerpoint_telecharger', { id: stage.id }) }}" class="btn custom-btn">
							Télécharger mon PowerPoint
						</a>
					</div>
				</div>


			</div>
		</div>


		<div class="mt-4">
			<h5 class="titlenbr_stage">Les compétences relatives à ce stage</h5>
			<p class="textenbr_stage">Ce stage applique
				{{ totalCompetences }}
				compétences :</p>

			{% if totalCompetences > 0 %}
				<div class="row">
					{% for competenceStage in competences %}
						<div class="col-md-4 mb-4">
							<a href="{{ path('competence_show', { id: competenceStage.Ncompetencesstages.id }) }}" class="card h-100 shadow-sm text-decoration-none">
								<div class="card-body text-center">
									<h5 class="card-title">{{ competenceStage.Ncompetencesstages.nom }}</h5>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<p>Aucune compétence associée à ce stage.</p>
			{% endif %}
		</div>


	</div>
{% endblock %}
